/* ===========================
Asteroid Run v2.0.0
---
global style-sheet
start-date: 06.09.2023
=========================== */

:root {
    --color-body-bg: #06060a;
    --color-font: #ffb978;
    background: var(--color-body-bg);
    color: var(--color-font);
    font-family: "Silkscreen", cursive;
    font-weight: 400;
}

/* typography */
h1,
h3 {
    font-size: 3rem;
    text-align: center;
}

h2,
h4,
h5 {
    font-size: 1rem;
    line-height: 1.5;
}

h2,
h4 {
    max-width: 50%;
    text-align: center;
    margin-inline: auto;
}

img {
    image-rendering: pixelated;
}

main {
    min-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-body-bg);
    overflow: hidden;
}

/* .canvas-container {
} */
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-body-bg);
    margin-inline: auto;
    position: relative;
    border-left: 1rem solid #341b54;
    border-right: 1rem solid #341b54;
}

.game-canvas {
    image-rendering: pixelated;
    will-change: transform;
    background: var(--color-body-bg);
}

.game-score {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9;
    color: white;
    padding: 1rem;
    opacity: 0;
}

.game-score__label {
    margin-bottom: 1rem;
}

/* game screen */

.start-screen,
.game-over-screen {
    position: absolute;
    top: 7%;
    right: 1rem;
    bottom: 7%;
    left: 1rem;
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-screen {
    justify-content: space-between;
}

.game-over-screen {
    justify-content: space-around;
    display: none;
}

.start-prompt,
.hero-heading {
    font-family: "Nabla", cursive;
    font-palette: --colorFont;
}

@font-palette-values --colorFont {
    font-family: "Nabla";
    base-palette: 3;
    override-colors: 6 #ffb978;
}

.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sub-head {
    padding-top: 2rem;
}

/* tutorial */
.tutorial {
    position: absolute;
    top: 7%;
    left: 115%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
