/* ===========================
Asteroid Run v2.0.0
---
global style-sheet
start-date: 06.09.2023
=========================== */

:root {
    --color-body-bg: #06060a;

    /* page defaults */
    background: var(--color-body-bg);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
}

/* font-family: 'DotGothic16', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Silkscreen', cursive; */

/* typography */
h1,
h3 {
    font-size: 3rem;
    text-align: center;
}

h2,
h4 {
    font-size: 1rem;
    text-align: center;
}

main {
    min-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #06060a;
    overflow: hidden;
}

/* .canvas-container {
} */
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #06060a;
    margin-inline: auto;
    position: relative;
    border-left: 1rem solid #341b54;
    border-right: 1rem solid #341b54;
}

.game-canvas {
    image-rendering: pixelated;
    will-change: transform;
    background: #06060a;
}

.game-score {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9;
    color: white;
    text-align: center;
    padding: 1rem;
    opacity: 0;
}

.game-score__label {
    margin-bottom: 1rem;
}

/* game screen */

.start-screen,
.game-over-screen {
    color: #974ec2;
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-screen {
    justify-content: space-between;
}

.game-over-screen {
    justify-content: space-around;
    display: none;
}

.start-prompt,
.hero-heading {
    font-family: "Nabla", cursive;
    font-palette: --colorFont;
}

@font-palette-values --colorFont {
    font-family: "Nabla";
    base-palette: 3;
    override-colors: 6 #ffb978;
}

.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sub-head {
    font-family: "Silkscreen", cursive;
    padding-top: 2rem;
    text-align: center;
    color: #ffb978;
}
